# Casos de List Compreehension

In [ ]:
# 1. Create a code to print the sum of the elements of each of the lists contained in the following list:

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

soma_lista = []

for lista in lista_de_listas:
    soma_lista.append(sum(lista))

soma_lista

[24, 10, 16]

In [ ]:
# 2. Create code to generate a list that stores the third element of each tuple contained in the following list of tuples:

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

armazena = []

for nome, altura, peso in lista_de_tuplas:
    #terceiro elemento
    armazena.append(peso)

armazena

[81, 67, 83]

In [ ]:
# 3. From the list: list = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], create code to generate a list of tuples where each tuple has the first element as the name position in the original list and the second element being the name itself.

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tuplas = []

for i in range(len(lista)):
    lista_tuplas.append((i, lista[i]))

lista_tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
# 4. Create a list using list comprehension that stores only the numerical value of each tuple if the first element is 'Apartment', from the following list of tuples:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista_apartamento = [valor for tipo, valor in aluguel if tipo == 'Apartamento']
lista_apartamento

[1700, 1400, 1900]

In [ ]:
#5. Create a dictionary using dict comprehension where the keys are in the list months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug ', 'Sep', 'Oct', 'Nov', 'Dec'] and the values ​​are in expense = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']

despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

gastos = {mes: valor for mes, valor in zip(meses, despesa)}
gastos

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [ ]:
# 6. A store has a database with sales information for each representative and each year and needs to filter only data from the year 2022 with sales greater than 6000. The store provided a sample containing only the columns with the years and the sales values ​​so that you can help filter the data using a code:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

# Create a list using list comprehension to filter values ​​from 2022 that are greater than 6000.

vendas_2022 = [valor for ano, valor in vendas if ano == '2022' and valor > 6000]
vendas_2022

[8883, 7688, 9544, 8190]

In [ ]:
# 7. A clinic analyzes patient data and stores the numerical glucose value in a database and would like to label the data as follows:

# Glucose equal to or less than 70: 'Hypoglycemia'
# Glucose between 70 and 99: 'Normal'
# Glucose between 100 and 125: 'Changed'
# Glucose above 125: 'Diabetes'
# The clinic has made part of the values ​​available and your task is to create a list of tuples using list comprehension containing the label and blood glucose value in each tuple.


glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

rotulos = [('Hipoglicemia', valor) if valor <= 70 else ('Normal', valor) if valor <= 99 else ('Alterada', valor) if valor <= 125 else ('Diabetes', valor) for valor in glicemia]
rotulos

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [ ]:
# 8. An e-commerce has sales ID, quantity sold and product price information divided into the following lists:

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

# E-commerce needs to structure this data in a table containing the total value of the sale, which is obtained by multiplying the quantity by the unit price. Furthermore, the table must contain a header indicating the columns: 'id', 'quantity', 'price' and 'total'.

# Create a list of tuples in which each tuple has id, quantity, price and total value, in which the first tuple is the table header.

tabela_ecomerce = [('id', 'quantidade', 'preco', 'total')] + [(id, qtd, preco, qtd * preco) for id, qtd, preco in zip(id, quantidade, preco)]
tabela_ecomerce

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [ ]:
# 9. A company has branches spread across the states in the Southeast region of Brazil. In one of the branch registration tables there is a column containing information on which State it belongs to:

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

# The company is always opening new branches, so the table is constantly receiving new records and the manager would like to have updated information on the number of branches in each state.

# From the column with the States information, create a dictionary using dict comprehension with the key being the name of a State and the value being the count of times the State appears in the list.

contagem_estados = {estado: estados.count(estado) for estado in estados}
contagem_estados

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

In [ ]:
# 10. In the same branch registration table, there is a column with information on the number of people collaborating and the manager would like to have a grouping of the sum of these people for each state. The information contained in the table is:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

# From the list of tuples, create a dictionary in which the keys are the names of unique States and the values ​​are the lists with the number of collaborators referring to the State. Also create a dictionary in which the keys are the names of the States and the values ​​are the sum of employees per State.

estados_unicos = list(set(estados))
estados_unicos

['MG', 'ES', 'SP', 'RJ']

In [ ]:
# Creating a dictionary with data grouped by employee by state

funcionarios_estados = {estado: [funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estado] for estado in estados_unicos}
funcionarios_estados

{'MG': [9, 6, 4, 8, 5, 10, 12],
 'ES': [8, 9, 7, 12, 8, 14],
 'SP': [16, 10, 7, 11, 9, 12, 7, 10],
 'RJ': [13, 9]}

In [ ]:
# Creating a dictionary with the sum of employees per state

soma_funcionarios = {estado: sum(funcionarios[i][1] for i in range(len(funcionarios)) if funcionarios[i][0] == estado) for estado in estados_unicos}
soma_funcionarios

{'MG': 54, 'ES': 58, 'SP': 82, 'RJ': 22}